videos/quick-load-data-s3/video.mp4 filter=lfs diff=lfs merge=lfs -text
videos/quick-visualisation/video.mp4 filter=lfs diff=lfs merge=lfs -text
videos/quick-app/video.mp4 filter=lfs diff=lfs merge=lfs -text
videos/quick-snippets/video.mp4 filter=lfs diff=lfs merge=lfs -text
videos/quick-transformations/video.mp4 filter=lfs diff=lfs merge=lfs -text
videos/quick-app/quick-app.gif filter=lfs diff=lfs merge=lfs -text
videos/quick-app/quick-app-title.gif filter=lfs diff=lfs merge=lfs -text
videos/quick-snippets/quick-snippets.gif filter=lfs diff=lfs merge=lfs -text
videos/quick-snippets/quick-snippets-title.gif filter=lfs diff=lfs merge=lfs -text
videos/quick-visualisation/quick-visualisation.gif filter=lfs diff=lfs merge=lfs -text
videos/quick-load-data-s3/quick-load-data-s3.gif filter=lfs diff=lfs merge=lfs -text
videos/quick-transformations/quick-transformations-title.gif filter=lfs diff=lfs merge=lfs -text
videos/quick-transformations/quick-transformations.gif filter=lfs diff=lfs merge=lfs -text
videos/quick-visualisation/quick-visualisation-title.gif filter=lfs diff=lfs merge=lfs -text
videos/quick-load-data-s3/quick-load-data-s3-title.gif filter=lfs diff=lfs merge=lfs -text
