:root {
    --md-primary-fg-color:        #2D71C7;
    --md-primary-fg-color--light: #2D71C7;
    --md-primary-fg-color--dark:  #90030C;
  }

 img.docs-border {
    border: 1px solid black;
  }

.assistant-icon {
    width: 18px;
    height: 18px;
    margin-bottom: -3px;
}

.menu-item {
    width: 185px;
    height: 40px;
}

.retina-image {
  zoom: 50%;
}

.blue-button {
  background-color: #2D71C7;
  color: white;
  padding: 3px 10px 3px 10px;
}

.green-button {
  background-color: #5ebe5e;
  color: white;
  padding: 3px 10px 3px 10px;
}

img.screenshot {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}