:root {
    --md-primary-fg-color:        #2D71C7;
    --md-primary-fg-color--light: #2D71C7;
    --md-primary-fg-color--dark:  #90030C;
  }

 img.docs-border {
    border: 1px solid black;
  }

.assistant-icon {
    width: 32px;
    height: 33px;
}

.menu-item {
    width: 185px;
    height: 40px;
}

.retina-image {
  zoom: 50%;
}