:root {
    --md-primary-fg-color:        #2D71C7;
    --md-primary-fg-color--light: #2D71C7;
    --md-primary-fg-color--dark:  #90030C;
  }

 img.docs-border {
    border: 1px solid black;
  }

li > img {
  margin-top: 8px;
}

.assistant-icon {
    width: 18px;
    height: 18px;
    margin-bottom: -3px;
}

.menu-item {
    width: 185px;
    height: 40px;
}

.retina-image {
  zoom: 50%;
}

.white-button,
.white-button-blue-text,
.blue-button,
.green-button {
  color: white;
  padding: 3px 10px 3px 10px;
  border-radius: 5px;
  white-space: nowrap;
}
.white-button {
  color: black;
  border: 1px solid black;
}
.blue-button {
  background-color: #2D71C7;
}
.green-button {
  background-color: #5ebe5e;
}
.white-button-blue-text {
  color: rgb(25, 118, 210);
  border: 1px solid rgb(25, 118, 210);
}

img.screenshot {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

video {
  width: 100%;
}

.sticky-banner {
  background-color: rgb(45, 113, 199);
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.sticky-banner-warning {
  background-color: #FF7900;
}
.sticky-banner > h3 {
  margin-top: 0;
}
.sticky-banner a {
  color: white;
}

.md-typeset .twemoji > svg {
  width: 1.25em;
}