:root {
    --md-primary-fg-color:        #2D71C7;
    --md-primary-fg-color--light: #2D71C7;
    --md-primary-fg-color--dark:  #90030C;
  }

 img.docs-border {
    border: 1px solid black;
  }

li > img {
  margin-top: 8px;
}

.menu-item {
    width: 185px;
    height: 40px;
}

.retina-image {
  zoom: 50%;
}

img.screenshot {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

video {
  width: 100%;
}

.sticky-banner {
  background-color: rgb(45, 113, 199);
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.sticky-banner-warning {
  background-color: #FF7900;
}
.sticky-banner > h3 {
  margin-top: 0;
}
.sticky-banner a {
  color: white;
}

.md-typeset .twemoji > svg {
  width: 1.25em;
}

.md-header__topic:first-child {
  font-weight: 400;
}

hr.summary {
  border: 10px solid lightgrey;
  border-radius: 0;
  height: 0;
}

article.md-typeset > h1 {
  margin-bottom: 0.5em;
}